@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,500;1,700&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: ubuntu,san-serif;
	background: #FFF0C7;
}

header{
	background: url('https://unsplash.it/3000');
	background-size: cover;
	background-position: center;
	padding: 20px;
	text-align: center;
	font-weight: bold;
	font-size: 3rem;
	border-bottom: white 3px solid;
	color: white;
	transition: .5s;
	cursor: pointer;
}
header:hover{
	color: #fff0c7;
	
}

.top{
	display: flex;
}
.left-p{
	width: 21%;
	padding: 5px;
	font-size: 1.2rem;
	display: block
}

#CTA{
	background: white;
	display: block;
	color: blue;
	font-size: 1.5rem;
}
footer{
	background: green;
	padding: 40px;
}
footer p{
	color: white;
}