@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,500;1,700&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header{
	background: linear-gradient(to bottom right,#24FE41,#FDFC47);
	padding: 20px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 2rem;
	color: white;
}

.img-container{
	text-align: center;
}

.txt-p{
	font-family: ubuntu;
	padding: 0 20px;
}

footer{
	background: lime;
	text-align: center;
}

footer p{
	padding: 30px;
	color: white;
	font-size: 1.3rem;
	font-family: ubuntu;
}

.cta{
	text-align: center;
	color: green;
}