@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,500;1,700&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: ubuntu,san-serif;
}

.head{
	color: white;
	font-size: 2rem;
	font-weight: 700;
	padding: 10px;
	text-align: center;
	background: linear-gradient(to right, green,lime);
}

ul{
	display: flex;
	justify-content: space-between;
	padding: 10px 30px;
}
ul li{
	list-style: none;
}
li a{
	text-decoration: none;
	position: relative;
	color: green;
}
li a:hover{
	color: grey;
	
}
li a::after{
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 3px;
	background: black;
	transition: .5s;
}
li a:hover::after{
	width: 100%;
}

#pic1{
	float: left;
	width: 70%;
	padding-right: 10px;
}

footer{
	background: linear-gradient(to bottom right, lime, green);
	color: white;
	padding: 30px;
	text-align: center;
}